@page
@model G24.Pages.ImgController.ViewModel
@{
}

<h1>View Uploaded Images</h1>

<div>
    <p>Filter By Image Type : </p>
    <form>
        <select type="text" asp-for="Type" style="width:50px;">
            <option>ALL</option>
            @for (int i = 0; i < Model.ImageTypeSingleSet.Count; i++)
            {
                 <option>@Model.ImageTypeSingleSet[i]</option>
                 <!-- <a class="nav-link" asp-page="/Index" asp-route-ActiveType="@Model.ImageTypeSingleSet[i]">@Model.ImageTypeSingleSet[i]</a></li>-->
            }
</select>
        <input type="submit" value="Filter" />
    </form>
</div>
<br />

<form method="post">
    <div>
        <table class="table table-active">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Img[0].ImgID)</th>
                    <th>@Html.DisplayNameFor(model => model.Img[0].ImgURL)</th>
                    <th>@Html.DisplayNameFor(model => model.Img[0].Type)</th>
                    <th>@Html.DisplayNameFor(model => model.Img[0].ImgName)</th>
                    <th>@Html.DisplayNameFor(model => model.Img[0].UserID)</th>
                    <th>Multiple Delete</th>
                    <th>Actions</th>


                </tr>
            </thead>
            @for (int i = 0; i < Model.Img.Count; i++)
            {
        <tr>
            <td><input type="hidden" asp-for=@Model.Img[i].ImgID /> @Model.Img[i].ImgID</td>
            <td><input type="hidden" asp-for=@Model.Img[i].ImgURL /><img id="img_ID_@i" class="img-view-display" src="~/ImgUploads/@Model.Img[i].ImgURL" /></td>
            <td><input type="hidden" asp-for=@Model.Img[i].Type />@Model.Img[i].Type</td>
            <td><input type="hidden" asp-for=@Model.Img[i].ImgName />@Model.Img[i].ImgName</td>
            <td><input type="hidden" asp-for=@Model.Img[i].UserID />@Model.Img[i].UserID</td>
            <td>@Html.CheckBoxFor(model => model.IsSelect[i], new { @class = "form-control" })</td>
            <td>
                <a asp-page="/ImgController/Update" asp-route-id="@Model.Img[i].ImgID">Update</a>
                <a asp-page="/ImgController/Delete" asp-route-id="@Model.Img[i].ImgID">Delete</a>
            </td>
        </tr>
            }

        </table>
        <button type="button" class="btn btn-danger"  onclick="DeleteWarningPanel()">Delete Selection</button>

        <div id="DeleteModal" class="modal" tabindex="-1" role="dialog" aria-modal="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DeleteWarningPanel()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="DeleteMessage">Are you sure you want to delete?</p>
                        <div class="delete_table_wrapper">
                            <table id="deleteList">
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="DeleteImgSubmit" value="Yes - Delete Images" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="DeleteWarningPanel()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-backdrop" class="modal-backdrop hide" onclick="DeleteWarningPanel()"></div>

        <div></div>
    </div>
</form>