@page
@model IndexModel
    ViewData["Title"] = "Group24";
}

<div class="hero">
   
    <h1 class="hero-text">Group24</h1>
    <div class="hero-banner "></div>
</div>
<div class="wrapper">
    <div class="container">
        <p>@{ 
        }
        </p>
       
      
    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" asp-page="/Index">All</a></li>
        @for (int i = 0; i < Model.ImageTypeSingleSet.Count; i++) // loop through the available types of images uploaded and display them in a list
        {
            <li class="nav-item"><a class="nav-link" asp-page="/Index" asp-route-ActiveType="@Model.ImageTypeSingleSet[i]">@Model.ImageTypeSingleSet[i]</a></li>
        }
    </ul>
    <div class="row">
        <div class="col-sm-4">

            @{ // Spreads the images out across 3 different columns, Loops through the array of data for each column to display the images 
                for (int i = 0; i < Model.col1_ImgRecords.Count; i++)
                {
                    <div class="image-column">
                        <div class="overlay"><a asp-page="/ImgController/Index" asp-route-imgid="@Model.col1_ImgRecords[i].ImgID"><p>Download</p></a></div>
                        <img src="~/ImgUploads/@Model.col1_ImgRecords[i].ImgURL" />
                    </div>
                }
            }
        </div>
        <div class="col-sm-4">
            @{ //again for column 2
                for (int i = 0; i < Model.col2_ImgRecords.Count; i++)
                {
                    <div class="image-column">
                        <div class="overlay"><a asp-page="/ImgController/Index" asp-route-imgid="@Model.col2_ImgRecords[i].ImgID"><p>Download</p></a></div>
                        <img src="~/ImgUploads/@Model.col2_ImgRecords[i].ImgURL" />
                    </div>
                }
            }
        </div>
        <div class="col-sm-4">
            @{ //and again for column 3
                for (int i = 0; i < Model.col3_ImgRecords.Count; i++)
                {
                    <div class="image-column">
                        <div class="overlay"><a asp-page="/ImgController/Index" asp-route-imgid="@Model.col3_ImgRecords[i].ImgID"><p>Download</p></a></div>
                        <img src="~/ImgUploads/@Model.col3_ImgRecords[i].ImgURL" />
                    </div>
                }
            }
        </div>
    </div>


</div>
</div>
